/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: silver;
  padding-left: 50px;
}

.container {
  max-width: 700px;
  margin: 20px auto;
  position: relative;
}

header {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: aqua;
  
}

main {
  height: 600px;
  
}

aside {
  width: 30%;
  height: 600px;
  float: left;
  background-color: green;
}


section {
  width: 70%;
  height: 600px;
  background-color: pink;
  float: left;
 position: relative;
}

footer {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: gold;
  
}

#box {
  width: 150px;
  height: 150px;
  background-color: red;
  position: relative;
  left: 10px;
  top: 10px;
}

#box2 {
  width: 150px;
  height: 150px;
  background-color: blue;
  position: fixed;
  right: 0;
  bottom: 0;
}

#box3 {
  width: 150px;
  height: 150px;
  background-color: orange;
  position: sticky;
  position: absolute;
  top: 20px;
}

#sticky {
  background-color: purple;
  padding-top: 20px;
  padding-bottom: 20px;
  position: sticky;
  top: 0;
  z-index: 1;
}

ul > li:first-child {
  background-color: pink;
}

div ~ p {
  background: yellow;
}

div + p {
  color: blue;
}  */
* {
   box-sizing: border-box;
}


#container {
 background-color: #fff;

}

#form-control {
  background-color:#ACB094;
  width: 300px;
  height: 450px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 8px;
  margin-top: 10px;
}

#head {
  background-color: green;
  padding: 5px;
  color: white;
  border-radius: 10px 10px 0 0; 
}

.input {
  padding: 5px;
  margin-top: 8px;
  width: 80%;
}

#gender {
  display: flex;
  align-items: center;
  justify-content: center;
}

#submit {
  background-color: green;
  width: 120px;
  border: none;
  padding: 5px;
  margin-top: 10px; 
}

a {
  margin-top: 5px;
}

